@{
    ViewBag.Title = "Create a Trip";
}

<h2>Create a new Trip</h2>

@section Scripts {
    <script>
        // call toastr on load
        $(function () {
            toastr.warning('Creating a new Trip ');
        })
    </script>
}


<style>
    .spaceIt {
        margin-top: 20px;
    }
</style>


<div class="row"> 
    <div class="col-lg-offset-1 col-sm-8"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-8 col-md-offset-2 well-lg well spaceIt ">
                    <!-- form -->
                    @*<label>Name of Trip</label>*@

                    <input type="text" name="txtbxTripName"  placeholder="Trip's Name" data-placement="right" title="Tooltip on right" /><br /><br />
                    <input type="text" name="txtbxTripStartDate" placeholder="Start date" data-placement="right" title="Tooltip on right" /><br /><br />
                    <input type="text" name="txtbxTripEndDate" placeholder="End date" data-placement="right" title="Tooltip on right" /><br /><br />
                    <input type="text" name="txtbxTripMinimunNoGuests" placeholder="mimimun number of guests " data-placement="right" title="Tooltip on right" />
                    <br /><br />
                    @Html.ActionLink("Back", "Index", new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Add the Trip", "createTrip")
                </div>
            </div>
        </div>
    </div>
</div>